@import '../styles/global.scss';

.container {
  
  .content {
    padding: 20px;

    h1 {
      color: var(--color-black);
      margin-bottom: 30px;
      line-height: 50px;
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 30px;
      color: var(--color-grey);
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 25px;
      color: var(--color-grey);
    }

    p {
      margin-bottom: 10px;
      font-size: 1.8rem;
      line-height: 30px;
      text-align: justify;
    }
  }
}