@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --color-primary: #ff1e56;
  --color-accent: #ffac41;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-grey: #323232;
  --color-grey-light: #b1b1b1;

  --site-width: 96rem;
  --container-width: 100%;
}

$bp-large: 68.75em;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  
  
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;    
  line-height: 1.6;
}