@import '../styles/global.scss';

.container {
  background-color: var(--color-black);
  width: var(--container-width);
  height: 10rem;
  position: absolute;
  bottom: 0;    

  .footer {
    font-size: 1.6rem;
    margin: 0 auto;
    max-width: var(--site-width);
    height: 10rem;
    line-height: 10rem;
    color: var(--color-white);
    padding: 0 2rem;
  }
}