@import '../styles/global.scss';

.container {
  max-width: var(--site-width);
  min-height: 14rem;
  margin: 0 auto;
  padding-top: 3rem;
  margin-top: 5rem;

  .row {
    text-align: center;
    padding: .5rem;
  }

  .button {
    background-color: var(--color-accent);
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
    height: 3rem;
    min-width: 1.5rem;
    line-height: 3rem;
    padding-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
    transition: background-color .2s;
  
    &:hover {
      background-color: var(--color-primary);
    }
  }

  .button-icon {
    @extend .button;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .button-github {
    @extend .button-icon;
    background-image: url('../images/github.png');
  }

  .button-twitter {
    @extend .button-icon;
    background-image: url('../images/twitter.png');
    margin-right: 0;
  }

  .button-linkedin {
    @extend .button-icon;
    background-image: url('../images/linkedin.png');
  }

  .link {
    color: var(--color-accent);
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color: var(--color-primary);
    }

    &:not(:last-child) {
      padding-right: 3rem;
    }
  }
}