@import '../styles/global.scss';

.container {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 5px solid var(--color-primary);
  text-align: center;
  text-transform: uppercase;

  .title {
    color: var(--color-black);
    font-size: 5rem;
    line-height: 6rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }
}